article, aside, figcaption, figure, footer, header, main, nav, section {
	font-family: "Helvetica", sans-serif;
	display: block;
	}
header {
	margin: 1em;
	border-bottom-style: solid;
	border-bottom-color: blue;
	color: #FFF
	}
body {
	background-image: url("../images/red-sky.jpg");
	background-attachment: fixed;
	background-size: contain;
	margin: 0 auto;
	max-width: 50em;
	line-height: 1.5;
	padding: 4em 1em;
	}
main {
	width: 75%;
	margin-left: 1em;
	margin-right: 1em;
	background-color: rgba(255, 255, 255, .75);
	}
aside {
	width: 25%;
	margin-right: 1em;
	background-color: #000;
	background-color: rgba(000, 000, 000, .75);
	color: #FFF
	}
footer {
	margin-left: 1em;
	margin-right: 1em;
	color: #FFF
	}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
}
.reset {
	clear: left;
	}